/*

!/.gitignore
!LICENSE
!README*
!CMakeLists.txt
!*.cpp
!*.hpp
!*.pdf
!*.tex


!/misc
/misc/.*
!/submission
/submission/.*
!/figure
/figure/.*

!/sdm
!/eigen*
!/fig

!/lib
!/src
/src/**
!/src/*.cpp
!/src/*.hpp
!/src/*.h
!/src/CMakeLists.txt

# !/result
# !/dataset
!/test
/test/**
!/test/*.cpp
!/test/*.hpp
!/test/CMakeLists.txt

!/with_cplex
/with_cplex/**
!/with_cplex/CMakeLists.txt
!/with_cplex/src
/with_cplex/src/**
!/with_cplex/src/*.cpp
!/with_cplex/src/*.hpp
!/with_cplex/src/*.h
!/with_cplex/src/CMakeLists.txt

!/with_cplex/tets
/with_cplex/tets/**
!/with_cplex/tets/*.cpp
!/with_cplex/tets/*.hpp
!/with_cplex/tets/CMakeLists.txt


!/examples
!/experiments
.DS_Store
nohup.out

!/dataset
.DS_Store

!/document
.DS_Store
/document/**
!/document/fig**
!/document/draft**
!/document/shibagaki**
!/document/icml**
.DS_Store
/document/fig/**
!/document/fig/*.eps
!/document/fig/*.png
!/document/fig/*.jpeg
!/document/fig/*.jpg
!/document/fig/*.xbb
!/document/fig/*.bb
!/document/*.tex
!/document/*.pdf

!/oekaki

